*{
    margin: 0;
    font-style: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url("img/amazon_logo.png");
    height: 50px;
    width: 113px;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
.add-first{
    color: white;
    font-size: 15px;
}
.add-second{
    color: white;
    font-size: 17px;
}
.add-icon{
    display: flex;
    color: white;
    text-align: center;

}
.nav-search{
    display: flex;
    color: white;
    background-color: blue;
    height: 75%;
    width: 600px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 90%;
    font-size: 15px;
    border: none;
}
.search-icon{
    border: none;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(219, 171, 37);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
span{
    font-size: 0.7rem;
}
.nav-signin{
    color: white;
}
.nav-second{
    font-size: 1rem;
}
.nav-returns{
    color: white;
}
.nav-search:hover{
    border: 2px solid orange;
    border-radius: 4px;
}
.nav-cart{
    color: white;
    justify-content: center;
    display: flex;
    font-size: 20px;
}
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 1rem;
}
.panel{
    display: flex;
    height: 50px;
    background-color: #222f3db8;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options{
    display: flex;
    width: 70%;
    font-size: 15px;
}
.panel-options:hover{
    font-weight: 900;
}
.panel-options p{
    margin-left: 15px; 
}
.panel-deals{
    font-size: 17px;
}
.hero-section{
    background-image: url(img/hero_image.jpg);
    height: 350px;
    background-size: cover;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d5c;
}
.box{
    border: 2px;
    height: 500px;
    width: 23%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    align-items: center;
    padding: 20px 0px 15px;
}
.box-img{
    height: 430px;
    width: 90%;
    margin: auto;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: cover;
}
.heading{
    margin-left: 14px;
}
h4{
    margin-left: 14px;
}
.foot-panel{
    background-color: #37475a;
    color: white ;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d ;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul p{
    font-size: 18px;
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 15px;
    margin-top: 18px;
    color: #dddddd;
}
.foot-panel3{
    border-top: 0.5px solid white;
    background-color: #222f3d ;
    justify-content: center;
    align-items: center;
    align-items: center;
    display: flex;
}
.logo{
    background-image: url("img/amazon_logo.png");
    height: 50px;
    width: 113px;
    background-size: cover;
}
.foot-panel4{
    background-color: #0F1111;
    color: white;
    border-top: 0.5px solid white;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 18px;
}
.pages{
    text-align: center;
    justify-content: center;
    padding-top: 17px;
}
.copy-right{
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}